/************************************************************
 This file contains all of the CSS that is shared by the
 various game screens and elements.
 ************************************************************/
 
html {
	width: 100%;
	height: 100%;
}
 
body {
	width: 100%;
	height: 100%;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: #111111;
}

/************************************************************
 * Bootstrap overrides.
 ************************************************************/
 
* {
	box-sizing: content-box;
}

table {
	border-collapse: initial;
}
 
body.modal-open {
	margin-left: 0px;
}

.pagination {
	margin: 5px 0px;
}

/************************************************************
 * Global style classes.
 ************************************************************/

.bordered {
	border: 2px solid black;
	border-radius: 8px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4) inset, 
				0px 2px 2px rgba(0, 0, 0, 0.4);
}

.shaded {
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4) inset, 
				0px 2px 2px rgba(0, 0, 0, 0.4);
}

.flare-bordered {
	border: 2px solid black;
	border-radius: 4px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4) inset, 
				0px 2px 2px rgba(0, 0, 0, 0.4);
}

.centred {
	margin: 0px auto;
}

/************************************************************
 * Screen classes.
 ************************************************************/
 
.screen-container {
	position: absolute;
	width: 100%;
	height: 100%;
	min-width: 900px;
	min-height: 600px;
	background-image: url("../img/background.png");
	background-size: 100% 100%;
	background-color: #555555;
	vertical-align: middle;
	border-spacing: 0px;
}

.screen-area {
	display: table;
	position: relative;
	width: auto;
	height: 100%;
	min-width: 900px;
	min-height: 600px;
	max-width: 1400px;
	max-height: 100%;
	margin: 0px auto;
	background: transparent;
	vertical-align: middle;
	border-collapse: collapse;
}

.screen {
	display: table-cell;
	width: 100%;
	height: auto;
	max-height: 100%;
	background: transparent;
	margin: 0px auto;
	padding: 0px;
	table-layout: fixed;
	vertical-align: middle;
}

/************************************************************
 * Button classes.
 ************************************************************/

.smooth-button {
	background: linear-gradient(#63AAE7, #439AD7);
	background-color: #63AAE7;
	color: black;
}

.smooth-button-red {
	background: linear-gradient(#DD4444, #BF2626);
	background-color: #FF6666;
}

.smooth-button-purple {
	background: linear-gradient(#AA44DD, #8F26AF);
	background-color: #FF6666;
}

.smooth-button:hover {
	background: linear-gradient(#FFFFFF, #DDDDDD);
	background-color: white;
}

.smooth-button:disabled {
	background: linear-gradient(#DDDDDD, #BBBBBB);
	background-color: white;
}

.dock-options-button {
    height: 30px;
    width: 20px;
}

.center-dock-button {
	position: absolute;
	height: 50px;
	width: 100px;
	top: 26%;
	left: 0px;
	right: 0px;
	margin: 0 auto;
	box-sizing: border-box;
	font-size: 20px;
	opacity: 1;
}

.hide-table-button {
	position: absolute;
	width: 30px;
	height: 5vh;
	right: 10px;
	bottom: 6%;
	background: linear-gradient(#FFFFFF, #DDDDDD);
	background-color: #EEEEEE;
	opacity: 0.5;
}

.hide-table-button:hover {
	background: linear-gradient(#FFFFFF, #DDDDDD);
	background-color: #EEEEEE;
	opacity: 1;
}

.select-slot-button {
    width: 100%;
    height: 40px;
    font-size: 18px;
    box-sizing: border-box;
}

/************************************************************
 * Classes for modals styled like the game table.
 ************************************************************/

.modal-table-container {
	width: 100%;
	height: 100%;
	display: table;
}

.modal-cell-container {
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

.table-modal .modal-dialog {
	height: auto;
	box-sizing: border-box;
	margin: 0px auto;
	padding: 5px;
	background: linear-gradient(#333333, #222222);
	background-color: #333333;
	color: black;
}

.table-modal .modal-dialog-surface {
	width: 100%;
	padding: 5px;
	background: radient-gradient(#888888, #666666);
	background-color: #777777;
	box-sizing: border-box;
}

.table-modal .modal-content {
	background: transparent;
	border: none;
	box-shadow: none;
}

.table-modal .modal-header {
	border: none;
}

.table-modal .modal-title {
	color: black;
}

.table-modal .modal-left {
	text-align: left;
}

.table-modal .modal-body {
    text-align: center;
}

.table-modal .modal-body-container {
    margin: 0px auto;
    display: inline-block;
}

.table-modal .modal-clothing-image {
	display: block;
	float: left;
	width: 80px;
	height: 80px;
	margin: 0px 5px;
    opacity: 0.4;
	background-color: white;
}

.table-modal .modal-clothing-image:hover {
	opacity: 0.7;
}

.table-modal .modal-selected-clothing-image {
	opacity: 1;
	background-color: white;
}

.table-modal .modal-selected-clothing-image:hover {
    opacity: 1;
}

.table-modal .modal-footer {
	text-align: center;
	border: none;
}

.table-modal .modal-button {
	height: 40px;
	width: 100px;
	
	font-size: 22px;
}

.pagination li a {
	color: black;
	background-color: #BBBBBB;
	border-color: black;
}

.pagination li a:hover {
	color: black;
	background-color: #DDDDDD;
	border-color: black;
}

.pagination .active a {
	background-color: #439AD7;
	border-color: white;
}

.pagination .active a:hover {
	background-color: #63AAE7;
	border-color: white;
}

.credit-table {
	width: 100%;
	font-size: 16px;
}

.credit-table td {
	padding: 0px 10px;
}

.credit-modal-label {
	padding: 2px 0px;
	background-color: lightgrey;
}

/************************************************************
 * All of the classes needed to make the dialogue bubbles 
 * look the awesome way that they do.
 ************************************************************/

/* the area around the dialogue bubble */
.dialogue-bubble-area {
	height: 128px;
	width: 24vw;
	padding: 0px;
}

/* the body of the dialogue bubble */
.dialogue-bubble {
	position: relative;
	height: 120px;
	
	margin: 2px 2px;
	background-color: white;
	
	text-align: center;
}

/* the setup for the bottom triangle */
.dialogue-bubble:before, .dialogue-bubble:after {
	width: 0;
	height: 0;
	
	content: "";
	position: absolute;
	
	border-style: solid;
	border-color: transparent;
	border-bottom: 0;
}

/* the stroke of the bottom triangle */
.dialogue-bubble:before {
	border-top-color: black;
	border-width: 16px;
}

/* the fill of the bottom triangle */
.dialogue-bubble:after {
	border-top-color: white;
	border-width: 15px;
}

/* the stroke of the bottom triangle, positioned on the left */
.dialogue-left:before {
	bottom: -16px;
	left: 30px;
}

/* the fill of the bottom triangle, positioned on the left */
.dialogue-left:after {
	bottom: -14px;
	left: 31px;
}

/* the stroke of the bottom triangle, positioned in the centre */
.dialogue-centre:before {
	bottom: -16px;
	left: 50%;
	margin-left: -16px;
}

/* the fill of the bottom triangle, positioned in the centre */
.dialogue-centre:after {
	bottom: -14px;
	left: 50%;
	margin-left: -15px;
}

/* the stroke of the bottom triangle, positioned on the right */
.dialogue-right:before {
	bottom: -16px;
	right: 30px;
}

/* the fill of the bottom triangle, positioned on the right */
.dialogue-right:after {
	bottom: -14px;
	right: 31px;
}

.dialogue-area {
	display: table;
	width: 100%;
	height: 100%;
}

.dialogue {
	display: table-cell;
	
	text-align: center;
	vertical-align: middle;
	padding: 4px;
    
	font-size: 16px;
}

.advance-button {
	position: absolute;
	height: 20px;
	right: 5px;
	bottom: 5px;
    opacity: 0;
}

.advance-button span {
    margin-left: 2px;
	margin-bottom: 2px;
}
 
/************************************************************
 * Classes for opponent images.
 ************************************************************/

.opponent-image-area {
	width: auto;
	height: auto;
	max-width: 25vw;
	max-height: 80vh;
    margin: 0px auto;
}

.opponent-image {
	display: block;
	min-width: 225px;
	min-height: 525px;
	max-width: 100%;
	max-height: 80vh;
	margin: 0px auto;
}

/************************************************************
 * Classes for the title screen.
 ************************************************************/

.title-banner-container {
	display: table-cell;
	height: 128px;
	margin: 0 auto;
	vertical-align: middle;
}
 
.title-banner-area {
	height: auto;
	padding: 5px;
	padding-right: 10px;
	margin: 0 auto;
	box-sizing: border-box;
	background: linear-gradient(#333333, #222222);
	background-color: #333333;
}

.title-banner {
	width: 100%;
	height: auto;
	max-height: 120px;
	background: linear-gradient(#888888, #777777, #666666);
	background-color: #777777;
}

.main-title-container {
	padding: 5px;
}

.main-title-table {
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
	table-layout: fixed;
}
 
.title-label {
	padding: 0px;
	margin-top: 5px;
	margin-bottom: 0px;
	text-align: center;
	font-size: 20px;
	color: #F5F5F5;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000; 
}
 
#player-name-field {
	width: 200px;
	height: 58px;
	font-size: 22px;
	text-align: center;
	margin: 5px 5px;
}

.title-gender-image {
	display: block;
	width: 60px;
	height: 60px;
	margin: 5px auto;
	background-color: white;
}

.title-clothing-container {
	margin: 0px auto;
	margin-bottom: 10px;
	table-layout: fixed;
}

.title-clothing-heading {
	width: 100px;
	text-align: center;
	padding: 0 5px;
	margin: 0 10px;
	font-size: 16px;
	background: linear-gradient(lightgrey, #888888);
	background-color: lightgrey;
}

.title-clothing-image {
	display: block;
	width: 75px;
	height: 75px;
	margin: 3px 3px;
	opacity: 0.4;
	background: white;
}

#title-warning-label {
	height: 20px;
	color: red;
	text-align: center;
	margin-top: 2px;
	margin-bottom: 2px;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000; 
}

.title-entrance-button {
	display: block;
	width: 160px;
	height: 75px;
	margin: 0 auto;
	padding: 10px 10px 5px 10px;
}

.title-entrance-image {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.version-label {
	width: 150px;
	background: radial-gradient(#DDDDDD, #AAAAAA);
	background-color: #AAAAAA;
	text-align: center;
	font-size: 16px;
	margin: 5px auto;
	padding: 2px 5px;
}

.title-credit-button {
	display: block;
	width: 150px;
	height: 28px;
	font-size: 16px;
	margin: 0 auto;
}

.title-next-button {
	display: block;
	width: 80px;
	font-size: 22px;
	height: 40px;
	margin: 0 auto;
	padding: 5px 10px 5px 10px;
}

/************************************************************
 * Classes for the main select screen.
 ************************************************************/

.select-dock-button {
	width: 70px;
	height: 70px;
	font-size: 18px;
	margin: 5px;
}

/************************************************************
 * Classes for the individual and group select screens.
 ************************************************************/

.opponent-stats-area {
	height: 128px;
}

.opponent-stats {
	position: relative;
	width: auto;
	height: 120px;
	margin: 2px;
	padding: 5px;
	background-color: #F5F5F5;
	box-sizing: border-box;
}

.opponent-stats-table {
	width: 100%;
}

.opponent-stats-table .form-group {
	width: 100%;
	padding-right: 8px;
	box-sizing: border-box;
	overflow: hidden;
}

.opponent-stats-table .input-group {
	width: 100%;
	margin-bottom: 3px;
}

.opponent-stats-table .half-input-group-left {
	width: 51%;
	float: left;
}

.opponent-stats-table .half-input-group-right {
	width: 43%;
	float: right;
}

.opponent-stats-table .input-group-addon {
	width: 40px;
	height: 20px;
	padding: 0px 4px;
	color: black;
	font-size: 12px;
	background: linear-gradient(lightgrey, #888888);
	background-color: lightgrey;
}

.opponent-stats-table .form-control {
	height: 20px;
	padding: 0px;
	padding-left: 4px;
	color: black;
}

.opponent-stats-table .form-control:disabled {
	background-color: white;
	cursor: default;
	color: black;
}

.opponent-stats-table .form-control-area {
	height: 74px;
	resize: none;
	text-align: center;
	overflow: hidden;
}

.select-advance-button-left {
	position: absolute;
	height: 20px;
	left: 5px;
	bottom: 6px;
	z-index: 10;
}

.select-advance-button-left span {
    margin: 0 auto;
	margin-bottom: 2px;
}

.select-advance-button-right {
	position: absolute;
	height: 20px;
	right: 5px;
	bottom: 6px;
	z-index: 10;
}

.select-advance-button-right span {
    margin-left: 2px;
	margin-bottom: 2px;
}

.group-name-label {
	width: 500px;
	height: 20px;
	padding-bottom: 3px;
	margin: 2px auto;
	text-align: center;
	font-size: 16px;
	background: white;
}

.select-group-button {
	width: 504px;
    height: 40px;
    font-size: 18px;
    box-sizing: border-box;
}

/************************************************************
 * Classes for the filter area on the selection screen.
 ************************************************************/

.filter-area {
	width: auto;
	padding: 5px;
	box-sizing: border-box;
}

.filter-area .input-group {
	margin: 0 auto;
	margin-bottom: 0px;
}

.filter-area .input-group-addon {
	width: 52px;
	height: 20px;
	padding: 0px 4px;
	color: black;
	font-size: 18px;
	background: linear-gradient(lightgrey, #888888);
	background-color: lightgrey;
}

.filter-area .form-control {
	width: 40px;
	height: 40px;
	padding: 0px;
	padding-left: 8px;
	color: black;
	font-size: 18px;
}

.filter-area .form-control-center {
	padding-left: 0px;
	text-align: center;
	margin: 0 auto;
}

.filter-area .label-left {
	float: left;
	margin-left: 5px;
	color: white;
	font-size: 18px;
}

.filter-area .label-right {
	float: right;
	margin-right: 5px;
	color: white;
	font-size: 18px;
}

.filter-area .pagination li a {
	border: 2px solid;
	border-right: 1px;
}

.filter-area .pagination > li:first-child > a, .pagination > li:first-child > span {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.filter-area .pagination > li:last-child > a, .pagination > li:last-child > span {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.filter-area .page-button {
	display: block;
	width: 48px;
	height: 44px;
	font-size: 16px;
	box-sizing: border-box;
	margin: 0 auto;
	cursor: pointer;
	text-align: center;
	border-radius: 0px;
}

.filter-area .page-button span {
	margin-top: 5px;
}

.filter-area .page-button:active span {
	margin-left: 2px;
}

.filter-area .page-button:active div {
	margin-left: 2px;
}

/************************************************************
 * Classes for the table on the main game screen.
 ************************************************************/

.game-table {
	position: absolute;
	height: auto;
	left: 5px;
	right: 5px;
	bottom: 10%;
	box-sizing: border-box;
	margin: 0px;
	padding: 5px;
	background-color: #663300;
}

.game-table-solid {
	height: auto;
	left: 5px;
	right: 5px;
	bottom: 10%;
	box-sizing: border-box;
	margin: 5px;
	padding: 5px;
	background-color: #663300;
}

.game-table-glass {
	background: rgba(255, 255, 255, 0.2);
}

.game-table-surface {
	width: 100%;
	padding: 5px;
	background: radial-gradient(#007000, #006000, #005000);
	background-color: #006000;
	box-sizing: border-box;
}

.game-table-surface-glass {
	background: rgba(255, 255, 255, 0.1);
}

.game-table-area {
	width: 100%;
	margin-bottom: 5px;
	table-layout: fixed;
}

.opponent-area {
	width: 90%;
	margin: 0px auto;
	padding: 2px;
	background: radial-gradient(#454545, #454545, #454545);
	background-color: #454545;
}

.opponent-area-glass {
	background: transparent;
	border: none;
	box-shadow: none;
}

.opponent-name-label {
	width: 200px;
	height: 20px;
	padding-bottom: 3px;
	margin: 2px auto;
	text-align: center;
	font-size: 16px;
	background: white;
}

.opponent-card-area {
	width: auto;
	height: 50px;
	box-sizing: border-box;
	border-spacing: 2px;
	margin: 0px auto;
}

.small-card-image {
	width: 35px;
	height: 45px;
}

/************************************************************
 * Classes for the human player section of the table on the 
 * main game screen.
 ************************************************************/

.player-table-area {
	width: auto;
	margin: 0 auto;
	margin-top: 5px;
	box-sizing: border-box;
	background: radial-gradient(#454545, #454545, #454545);
}

.player-table-area-glass {
	background: transparent;
	border: none;
	box-shadow: none;
}
 
.dock-options-area {
	width: 0%;
}
 
.dock-options-button {
	display: block;
	width: 30px;
	height: 35px;
	margin-left: 11%;
}

.dock-options-button span {
	margin-right: 1px;
	margin-bottom: 2px;
}

.small-clothing-image {
	width: 40px;
	height: 40px;
	background-color: white;
}

.player-area {
	width: 100%;
	padding: 0px;
	background: transparent;
	box-sizing: border-box;
}

.player-card-area {
	width: auto;
	height: 50px;
	box-sizing: border-box;
	border-spacing: 4px;
	margin: 0px auto;
}

.player-name-label {
	width: 100%;
	height: 26px;
	text-align: center;
	font-size: 16px;
	background: white;
	box-sizing: border-box;
}

.player-clothing-label {
	width: 100%;
	text-align: center;
	font-size: 12px;
	background: white;
	box-sizing: border-box;
}

.large-card-image {
	width: 65px;
	height: 90px;
}

.centred-deck-area {
	position: relative;
}

.hidden-large-card {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.shown-card {
	opacity: 1;
}

/************************************************************
 * Global override classes.
 ************************************************************/

.clear {
	background: transparent;
}

.tight {
	width: auto;
}

.never-hide {
	visibility: visible;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}